.divFilter {
	display: block;
	text-align: right;
	margin: 10px;
}

.inputFilter {
	background-color: #f0f0f0;
	border: none;
	border-radius: 10px;
	margin-bottom: 1rem;
	padding: 0.5rem 1rem;
	width: 300px;
}

.numberFilter {
	margin: 10px;
	color: white;
	background-color: cornflowerblue;
	font-size: large;
	font-family: cursive;
	padding-left: 5px;
	padding-right: 5px;
}

.divNoResults {
	text-align: center;
}
.imgNoResults {
	display: inline-block;
}
.spanNoResults {
	font-size: x-large;
	font-family: initial;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 8px;
	text-align: center;
	color: white;
}

.episodes {
	margin: 10px;
}

.cursorPointer {
	cursor: pointer;
}

.descriptionScrollbar {
	position: relative;
	height: 200px;
	overflow: auto;
}
.episodeScrollbar {
	position: relative;
	height: 450px;
	overflow: auto;
}
.table-wrapper-scroll {
	display: block;
}

.fifty-chars {
	width: 50ch;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.audio {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}
